* {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: grid;
  background: white;
}
body div.container {
  display: grid;
  grid-template-rows: 44vh 56vh 5vh;
  grid-template-columns: 7.5vw 85vw 7.5vw;
}
body div.container result {
  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  width: 100vw;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 30px 30px;
  text-align: center;
  color: white;
}
body div.container result p {
  color: rgb(170, 170, 170);
  padding: 3vh;
  font-size: 2.69vh;
}
body div.container result div.score {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
body div.container result div.score ball {
  border-radius: 100%;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  width: 33.3vw;
  height: 33.3vw;
}
body div.container result div.score h1 {
  font-weight: 800;
  font-size: 16vw;
  padding-top: 2.69vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body div.container result div.score p {
  padding: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.24vh;
  color: rgb(192, 192, 192);
}
body div.container result div.result-text {
  grid-row: 3/7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body div.container result div.result-text h2 {
  font-size: 8vw;
}
body div.container result div.result-text p {
  padding: 0 13.33vw;
  font-size: 2.25vh;
}
body div.container summary {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
}
body div.container summary h3 {
  text-align: initial;
  font-size: 4vw;
  padding: 2.5vh;
  padding-left: 0;
}
body div.container summary div, body div.container summary h3, body div.container summary a.button {
  font-size: 2.69vh;
}
body div.container summary div {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2.34vh;
  margin-bottom: 0.75vh;
  font-weight: 700;
}
body div.container summary div text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body div.container summary div text p {
  margin-left: 3.75vw;
}
body div.container summary div score {
  color: rgb(140, 140, 140);
}
body div.container summary div score span {
  color: black;
  font-weight: 700;
}
body div.container summary div#reaction {
  background: hsl(0, 100%, 92%);
}
body div.container summary div#reaction p {
  color: hsl(0, 100%, 67%);
}
body div.container summary div#memory {
  background-color: hsl(39, 100%, 90%);
}
body div.container summary div#memory p {
  color: hsl(39, 100%, 56%);
}
body div.container summary div#verbal {
  background: hsl(166, 100%, 90%);
}
body div.container summary div#verbal p {
  color: hsl(166, 100%, 37%);
}
body div.container summary div#visual {
  background: hsl(221, 100%, 96%);
}
body div.container summary div#visual p {
  color: hsl(234, 85%, 45%);
}
body div.container summary a.button {
  background: hsl(224, 30%, 27%);
  color: white;
  font-weight: 800;
  text-align: center;
  padding: 2.19vh;
  margin-bottom: 0.75vh;
  border-radius: 30px;
}
body div.container div.attribution {
  grid-row: 3;
  grid-column: 2;
  padding: 16px;
  padding-bottom: 50px;
  height: auto;
  font-size: 11px;
  text-align: center;
}
body div.container div.attribution a {
  height: auto;
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body div.container {
    grid-template-rows: 50vh 50vh 5vh;
    grid-template-columns: 15vw 70vw 15vw;
  }
  body div.container result div.score h1 {
    font-size: 14.63vw;
  }
  body div.container result div.score p {
    font-size: 3.64vw;
  }
  body div.container result div.result-text {
    align-self: first baseline;
  }
  body div.container result div.result-text h2 {
    font-size: 6vw;
  }
  body div.container summary h3,
  body div.container summary a.button,
  body div.container summary div {
    padding: 2.19vw;
  }
  body div.container summary h3 {
    padding-left: 0;
  }
  body div.container summary div svg {
    scale: 1.8;
  }
}
@media (min-width: 900px) {
  body {
    background: white;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 20vh 60vh 20vh;
  }
  body div.container {
    background: white;
    grid-column: 2/4;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.322) 0 8px 24px;
  }
  body div.container result {
    width: auto;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    border-radius: 30px;
  }
  body div.container result p {
    padding: 3.58vh;
    font-size: 1.69vw;
  }
  body div.container result div.score {
    grid-row: 2/3;
  }
  body div.container result div.score ball {
    width: 12.5vw;
    height: 12.5vw;
  }
  body div.container result div.score h1 {
    padding: 0;
    height: auto;
    font-size: 5.5vw;
    padding-top: 2.11vw;
    padding-bottom: 0;
  }
  body div.container result div.score p {
    height: 0;
    padding: 0;
    font-size: 1.52vw;
    margin-bottom: 1.69vw;
  }
  body div.container result div.result-text {
    grid-row: 3/7;
    display: flex;
    align-items: none;
    align-content: none;
  }
  body div.container result div.result-text h2 {
    font-size: 2.54vw;
    padding: 3vw;
    padding-bottom: 0.84vw;
  }
  body div.container result div.result-text p {
    font-size: 1.69vw;
    padding: 5.06vw;
    padding-top: 0;
  }
  body div.container summary {
    grid-row: 1;
    background: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: repeat(6, 1fr);
  }
  body div.container summary h3 {
    grid-row: 1;
    align-self: flex-start;
    font-size: 1.69vw;
    padding: 3.58vh 2.76vw;
  }
  body div.container summary div {
    margin: 1.68vw 2.52vw;
    margin-top: 0;
    padding: 0.84vw;
    align-items: center;
    font-size: 1.69vw;
    transition: 0.3s;
  }
  body div.container summary div text svg {
    height: 1.1vw;
    margin-left: 0.46vw;
  }
  body div.container summary div text p {
    margin-left: 0.84vw;
  }
  body div.container summary div score {
    font-size: 1.69vw;
  }
  body div.container summary div:hover {
    scale: 1.05;
  }
  body div.container summary div#reaction {
    grid-row: 2;
  }
  body div.container summary div#memory {
    grid-row: 3;
  }
  body div.container summary div#verbal {
    grid-row: 4;
  }
  body div.container summary div#visual {
    grid-row: 5;
  }
  body div.container summary a.button {
    display: grid;
    grid-row: 6;
    margin: 1.68vw 2.52vw;
    padding: 0.84vw;
    margin-bottom: 3.68vw;
    align-items: center;
    font-size: 1.69vw;
    transition: 0.3s;
  }
  body div.container summary a.button:hover {
    background: hsl(225, 30%, 18%);
    scale: 1.02;
  }
  body div.container div.attribution {
    grid-column: 1/3;
    padding: 10px;
    margin: 0;
    font-size: 0.73vw;
  }
}
@media (min-width: 1440px) {
  body {
    grid-template-rows: 15vh 70vh 15vh;
  }
  body div.container {
    grid-template-rows: 70vh;
  }
  body div.container result p {
    padding: 3.58vh;
    font-size: 1.6vw;
  }
  body div.container result div.score h1 {
    padding: 0;
    height: auto;
    font-size: 4.86vw;
    padding-top: 2.93vw;
    padding-bottom: 0;
  }
  body div.container result div.score p {
    height: 0;
    padding: 0;
    font-size: 1.21vw;
    margin-bottom: 20px;
  }
  body div.container result div.result-text {
    grid-row: 3/7;
    display: flex;
    align-items: none;
    align-content: none;
  }
  body div.container result div.result-text h2 {
    font-size: 2.3vw;
    padding: 3vw;
    padding-bottom: 10px;
  }
  body div.container result div.result-text p {
    font-size: 1.2vw;
    padding: 5.06vw;
    padding-top: 0;
  }
  body div.container summary {
    grid-row: 1;
    background: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: repeat(6, 1fr);
  }
  body div.container summary h3 {
    grid-row: 1;
    align-self: flex-start;
    font-size: 1.6vw;
    padding: 3.58vh 2.76vw;
  }
  body div.container summary div {
    margin: 0.92vw 2.76vw;
    margin-top: 0;
    padding: 0.92vw;
    align-items: center;
    font-size: 1.2vw;
    transition: 0.3s;
  }
  body div.container summary div text svg {
    height: 1.1vw;
    margin-left: 0.46vw;
  }
  body div.container summary div score {
    font-size: 1.2vw;
  }
  body div.container summary div:hover {
    scale: 1.05;
  }
  body div.container summary div#reaction {
    grid-row: 2;
  }
  body div.container summary div#memory {
    grid-row: 3;
  }
  body div.container summary div#verbal {
    grid-row: 4;
  }
  body div.container summary div#visual {
    grid-row: 5;
  }
  body div.container summary a.button {
    display: grid;
    grid-row: 6;
    margin: 1.38vw 2.76vw;
    padding: 0.92vw;
    margin-bottom: 3.68vw;
    align-items: center;
    font-size: 1.2vw;
    transition: 0.3s;
  }
  body div.container summary a.button:hover {
    background: hsl(225, 30%, 18%);
    scale: 1.02;
  }
  body div.container div.attribution {
    grid-column: 1/3;
    padding: 10px;
    margin: 0;
    font-size: 0.73vw;
  }
}/*# sourceMappingURL=style.css.map */
